﻿

@{
    ViewBag.Title = "Create";
}

<h2>Create Design</h2>
<form action="/Design/Create" method="POST">
    <div>
        <label>Design:</label> <input type="text" name="DesignName" />
    </div>

    <div>
        <input type="submit" value="Create Design" />

    </div>
</form>


<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        color: #333;
        padding: 20px;
    }

    h2 {
        color: #006400;
        margin-bottom: 20px;
    }

    label {
        color: #006400;
        margin-bottom: 10px;
        display: block;
    }

    input[type="text"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 300px;
    }

    input[type="submit"] {
        padding: 8px 12px;
        background-color: #ab2020;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
    }
</style>