﻿@model Collab_Project.Models.LocationDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Location</h2>
<form action="/Location/Update/@Model.LocationID" method="POST">
    <div style="display:none;">
        @* Pass through the Species ID *@
        <input type="text" name="LocationID" value="@Model.LocationID" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="LocationName" value="@Model.LocationName" />
    </div>

    <div>
        <input type="submit" value="Update Location" />

    </div>
</form>




<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        color: #333;
        padding: 20px;
    }

    h2 {
        color: #006400;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    input[type="submit"] {
        padding: 8px 12px;
        background-color: #ab2020;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>