
@model Collab_Project.Models.TrailDto

@{
    ViewBag.Title = "Delete";
    Layout = null; // Set the layout to null for this view
}

<h2>Delete Trail</h2>

<h3>Are you sure you want to delete the trail with ID @Model.TrailID?</h3>
<h4>Trail name: @Model.TrailName</h4>
<h4>Trail location: @Model.LocationName</h4>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("Cancel", "List", null, new { @class = "btn btn-default" })
}


<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        color: #333;
        padding: 20px;
    }

    h2 {
        color: #006400;
        margin-bottom: 20px;
    }

    h3 {
        color: #006400;
        margin-bottom: 10px;
    }

    h4 {
        color: #006400;
        margin-bottom: 15px;
    }

    input[type="submit"] {
        padding: 8px 12px;
        background-color: #ab2020;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    }

    .btn-default {
        padding: 8px 12px;
        background-color: #fff;
        color: #006400;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }

    .btn-container {
        margin-top: 20px;
    }
</style>