@model Collab_Project.Models.ViewModels.UpdateTrail

@{
    ViewBag.Title = "Edit";
}

<h2>Update Trail</h2>
<form action="/Trail/Update/@Model.SelectedTrail.TrailID" method="POST">

    <div style="display:none;">
        @* Pass through the trail ID *@
        <input type="text" name="TrailID" value="@Model.SelectedTrail.TrailID" />
    </div>

    <div>
        <label>Name:</label> <input type="text" name="TrailName" value="@Model.SelectedTrail.TrailName" />
    </div>

    <div>
        <label>Location ID:</label>
        <select name="LocationID">
            @foreach (var Location in Model.LocationOptions)
            {
                string selected = "";
                if (Location.LocationID == Model.SelectedTrail.LocationID)
                {
                    selected = "selected";
                }
                <option value="@Location.LocationID" >@Location.LocationName</option>
            }
        </select>
    </div>

    <div>
        <input type="submit" value="Update Location" />
    </div>

</form>



<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        color: #333;
    }

    h2 {
        color: #006400;
        margin-bottom: 20px;
    }

    label {
        color: #006400;
        font-weight: bold;
    }

    select,
    input[type="text"],
    input[type="submit"] {
        padding: 10px;
        border: 1px solid #006400;
        border-radius: 4px;
        transition: border-color 0.3s ease;
    }

    select {
        background-color: #d3e5d8;
        color: #006400;
    }

    input[type="text"] {
        background-color: #fff;
        color: #333;
    }

    input[type="submit"] {
        background-color: #006400;
        color: #fff;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #ab2020;
        }
</style>